<!-- For adding carousel on home page -->

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
		<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
		<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
		<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
	</ol>
	<div class="carousel-inner" role="listbox">
		
		<div class="carousel-item active sliderimage">
			<img class="d-block img-fluid w-100 " src="../../../assets/images/homeslider4.jpg" alt="Third slide">
		</div>
		<div class="carousel-item sliderimage">
			<img class="d-block img-fluid w-100 " src="../../../assets/images/homeslider5.jpg" alt="Third slide">
		</div>
		<div class="carousel-item  sliderimage">
			<img class="d-block img-fluid w-100" src="../../../assets/images/homeslider2.png" alt="First slide">
		</div>
		<div class="carousel-item sliderimage">
			<img class="d-block img-fluid w-100" src="../../../assets/images/homeslider1.jpg" alt="Second slide">
		</div>
	</div>
	<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>
<!-- Carousel ends here -->
<!-- <div class="container mx-auto my-auto pt-3">
	<h2 class="text-center py-2"><b>Our Feature</b></h2>
	<div class="row">
		<div class="col-md-3">
			<div class="text-center">
				<a routerLink='/catering'><i class="fas fa-envelope fa-2x"></i></a>
				<p>Email</p>
			</div>
		</div>
		<div class="col-md-3">
			<div class="text-center">
				<a routerLink='/venue'><i class="fas fa-file fa-2x"></i></a>
				<p>Docs</p>
			</div>
		</div>
		<div class="col-md-3">
			<div class="text-center">
				<a href="#"><i class="fas fa-american-sign-language-interpreting fa-2x"></i></a>
				<p>People</p>
			</div>
		</div>
		<div class="col-md-3">
			<div class="text-center">
				<a href="#"><i class="far fa-handshake fa-2x"></i></a>
				<p>Project</p>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-3">
			<div class="text-center">
				<a routerLink='/catering'><i class="fas fa-book fa-2x"></i></a>
				<p>Books</p>
			</div>
		</div>
		<div class="col-md-3">
			<div class="text-center">
				<a routerLink='/venue'><i class="fas fa-copy fa-2x"></i></a>
				<p>CRM</p>
			</div>
		</div>
		<div class="col-md-3">
			<div class="text-center">
				<a href="#"><i class="fas fa-video fa-2x"></i></a>
				<p>Cliq</p>
			</div>
		</div>
		<div class="col-md-3">
			<div class="text-center">
				<a href="#"><i class="fas fa-shopping-cart fa-2x"></i></a>
				<p>Sales</p>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-3">
			<div class="text-center">
				<a routerLink='/catering'><i class="fas fa-envelope fa-2x"></i></a>
				<p>Email</p>
			</div>
		</div>
		<div class="col-md-3">
			<div class="text-center">
				<a routerLink='/venue'><i class="fas fa-file fa-2x"></i></a>
				<p>Docs</p>
			</div>
		</div>
		<div class="col-md-3">
			<div class="text-center">
				<a href="#"><i class="fas fa-american-sign-language-interpreting fa-2x"></i></a>
				<p>People</p>
			</div>
		</div>
		<div class="col-md-3">
			<div class="text-center">
				<a href="#"><i class="far fa-handshake fa-2x"></i></a>
				<p>Project</p>
			</div>
		</div>
	</div> -->


	<!-- </div> -->
	<!-- about sign application -->
	<div class="about-section paddingTB60 gray-bg">
		<div class="container">
			<div class="row">
				<div class="col-md-7 col-sm-6">
					<div class="about-title clearfix">
						<h1>About <span>SignApp</span></h1>
						<h3>Digital Signature Application</h3>
						<p class="about-paddingB">The digital equivalent of a handwritten signature or stamped seal, but offering far more inherent security, a digital signature is intended to solve the problem of tampering and impersonation in digital communications.</p><p> Digital signatures can provide the added assurances of evidence to origin, identity and status of an electronic document, transaction or message, as well as acknowledging informed consent by the signer.</p>

						<div class="about-icons"> 
							<ul >
								<li><a href="#"><i class="fab fa-facebook-square fa-3x"></i></a> </li>
								<li><a href="#"><i id="social-tw" class="fab fa-twitter-square fa-3x"></i></a> </li>
								<li> <a href="#"><i id="social-gp" class="fab fa-google-plus-square fa-3x social"></i></a> </li>
								<li> <a href="#"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a> </li>
							</ul> 
						</div>
					</div>
				</div>
				<div class="col-md-5 col-sm-6">
					<div class="about-img">
						<img src="https://devitems.com/preview/appmom/img/mobile/2.png" alt="">
					</div>
				</div>	
			</div>
		</div>
	</div>
	<!-- end of about application -->
	<!-- our story -->
	<div class="container-fluid ">
		<div class="row">
			<div class="col-md-6 col-lg-6 content-half mt-md-0 pl-5 pt-4 ourstoryleft">
				<div class="head-box mb-5 pl-5 mt-2">
					<h2 class="text-green">Our Story</h2>
					<h6 class="text-green text-underline-rb-white">This is information panel</h6>
				</div>
				<ul class="pl-5 ourstorytext">
					<li>
						<i class="fa fa-laptop box-round-outline" aria-hidden="true"></i>
						<span class="list-content">
							<strong>Responsive Design</strong>
							<br>Eiusmod tempor incididunt ut labore et dolore magna aliqua.
						</span>
					</li>
					<li>
						<i class="fas fa-cloud-upload-alt"></i>
						<span class="list-content">
							<strong>Cloud Storage</strong>
							<br>Eiusmod tempor incididunt ut labore et dolore magna aliqua.
						</span>
					</li>
					<li>
						<i class="fas fa-boxes"></i>
						<span class="list-content">
							<strong>Premium Features</strong>
							<br>Eiusmod tempor incididunt ut labore et dolore magna aliqua.
						</span>
					</li>
				</ul>
			</div>
			<div class="col-md-6 p-0 m-0">
				<img src="https://grafreez.com/wp-content/temp_demos/suffi/img/intro-bg.jpg" class="img-fluid">
			</div>
		</div>
	</div>
	


	<!-- Team -->
	<section id="team" class="pb-5">
		<div class="container">
			<h5 class="section-title h1">OUR Services</h5>
			<div class="row">
				<!-- Team member -->
				<div class="col-xs-12 col-sm-6 col-md-4">
					<div class="image-flip" ontouchstart="this.classList.toggle('hover');">
						<div class="mainflip">
							<div class="frontside">
								<div class="card">
									<div class="card-body text-center">
										<p><img class=" img-fluid" src="../../../assets/images/calender.png" alt="card image"></p>
										<h4 class="card-title">Calender</h4>
										<p class="card-text">This is basic card with image on top, title, description and button.</p>
										<a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
									</div>
								</div>
							</div>
							<div class="backside">
								<div class="card">
									<div class="card-body text-center mt-4">
										<h4 class="card-title">Calender</h4>
										<p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- ./Team member -->
				<!-- Team member -->
				<div class="col-xs-12 col-sm-6 col-md-4">
					<div class="image-flip" ontouchstart="this.classList.toggle('hover');">
						<div class="mainflip">
							<div class="frontside">
								<div class="card">
									<div class="card-body text-center">
										<p><img class=" img-fluid" src="../../../assets/images/crm.png" alt="card image"></p>
										<h4 class="card-title">CRM</h4>
										<p class="card-text">This is basic card with image on top, title, description and button.</p>
										<a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
									</div>
								</div>
							</div>
							<div class="backside">
								<div class="card">
									<div class="card-body text-center mt-4">
										<h4 class="card-title">CRM</h4>
										<p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- ./Team member -->
				<!-- Team member -->
				<div class="col-xs-12 col-sm-6 col-md-4">
					<div class="image-flip" ontouchstart="this.classList.toggle('hover');">
						<div class="mainflip">
							<div class="frontside">
								<div class="card">
									<div class="card-body text-center">
										<p><img class=" img-fluid" src="../../../assets/images/task.jpg" alt="card image"></p>
										<h4 class="card-title">Task</h4>
										<p class="card-text">This is basic card with image on top, title, description and button.</p>
										<a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
									</div>
								</div>
							</div>
							<div class="backside">
								<div class="card">
									<div class="card-body text-center mt-4">
										<h4 class="card-title">Task</h4>
										<p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- ./Team member -->
				<!-- Team member -->
				<div class="col-xs-12 col-sm-6 col-md-4">
					<div class="image-flip" ontouchstart="this.classList.toggle('hover');">
						<div class="mainflip">
							<div class="frontside">
								<div class="card">
									<div class="card-body text-center">
										<p><img class=" img-fluid" src="../../../assets/images/notes.png" alt="card image"></p>
										<h4 class="card-title">Notes</h4>
										<p class="card-text">This is basic card with image on top, title, description and button.</p>
										<a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
									</div>
								</div>
							</div>
							<div class="backside">
								<div class="card">
									<div class="card-body text-center mt-4">
										<h4 class="card-title">Notes</h4>
										<p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- ./Team member -->
				<!-- Team member -->
				<div class="col-xs-12 col-sm-6 col-md-4">
					<div class="image-flip" ontouchstart="this.classList.toggle('hover');">
						<div class="mainflip">
							<div class="frontside">
								<div class="card">
									<div class="card-body text-center">
										<p><img class=" img-fluid" src="../../../assets/images/contact.png" alt="card image"></p>
										<h4 class="card-title">contact</h4>
										<p class="card-text">This is basic card with image on top, title, description and button.</p>
										<a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
									</div>
								</div>
							</div>
							<div class="backside">
								<div class="card">
									<div class="card-body text-center mt-4">
										<h4 class="card-title">contact</h4>
										<p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- ./Team member -->
				<!-- Team member -->

				<div class="col-xs-12 col-sm-6 col-md-4">
					<div class="image-flip" ontouchstart="this.classList.toggle('hover');">
						<div class="mainflip">
							<div class="frontside">
								<div class="card">
									<div class="card-body text-center">
										<p><img class=" img-fluid" src="../../../assets/images/bookmark.png" alt="card image"></p>
										<h4 class="card-title">bookmark</h4>
										<p class="card-text">This is basic card with image on top, title, description and button.</p>
										<a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
									</div>
								</div>
							</div>
							<div class="backside">
								<div class="card">
									<div class="card-body text-center mt-4">
										<h4 class="card-title">bookmark</h4>
										<p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- ./Team member -->

			</div>
		</div>
	</section>
	<!-- Team -->

	

	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-6">
				<div class="pricingTable">
					<h3 class="title">Custom</h3>
					<div class="pricing-content">
						<div class="price-value">$10.00
							<span class="month">/ month</span>
						</div>
						<ul>
							<li>50GB Disk Space</li>
							<li>50 Email Accounts</li>
							<li>50GB Monthly Bandwidth</li>
							<li>10 Subdomains</li>
							<li>15 Domains</li>
						</ul>
						<a href="#" class="pricingTable-signup">Order Now</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="pricingTable yellow">
					<h3 class="title">Standard</h3>
					<div class="pricing-content">
						<div class="price-value">$20.00
							<span class="month">/ month</span>
						</div>
						<ul>
							<li>60GB Disk Space</li>
							<li>60 Email Accounts</li>
							<li>60GB Monthly Bandwidth</li>
							<li>15 Subdomains</li>
							<li>20 Domains</li>
						</ul>
						<a href="#" class="pricingTable-signup">Order Now</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="pricingTable blue">
					<h3 class="title">Premium</h3>
					<div class="pricing-content">
						<div class="price-value">$30.00
							<span class="month">/ month</span>
						</div>
						<ul>
							<li>100GB Disk Space</li>
							<li>100 Email Accounts</li>
							<li>100GB Monthly Bandwidth</li>
							<li>50 Subdomains</li>
							<li>30 Domains</li>
						</ul>
						<a href="#" class="pricingTable-signup">Order Now</a>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="container ourclient">
		<h1 class="text-center" style="color: green;">OUR PORTFOLIO</h1>
		<div class="row">
			<div class="col-md-4 col-sm-6">
				<div class="box">
					<img src="../../../assets/images/RelationClients.png">
					<div class="box-content">
						<h3 class="title">Williamson</h3>
						<span class="post">Web Developer</span>
						<ul class="icon">
							<li><a href="#" class="fa fa-search"></a></li>
							<li><a href="#" class="fa fa-link"></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="box">
					<img src="../../../assets/images/user_group.png">
					<div class="box-content">
						<h3 class="title">Kristiana</h3>
						<span class="post">Web Designer</span>
						<ul class="icon">
							<li><a href="#" class="fa fa-search"></a></li>
							<li><a href="#" class="fa fa-link"></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="box">
					<img src="../../../assets/images/clients-icon.png">
					<div class="box-content">
						<h3 class="title">Kristiana</h3>
						<span class="post">Web Designer</span>
						<ul class="icon">
							<li><a href="#" class="fa fa-search"></a></li>
							<li><a href="#" class="fa fa-link"></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	

	<div>
			<section id="how-we-do" class="p-0">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-6 how-bg-img"></div>
				<div class="col-xs-12 col-sm-12 col-md-6 how-contents">
					<h4 class="section-title mb-2 h1">What we do</h4>
					<p class="mb-4">Having and managing a correct marketing strategy is crucial in a fast moving market.</p>
					<ul class="list-unstyled">
						<li>Some quick example text to build on the card title and make up the bulk of the card's content.</li>
						<li>Some quick example text to build on the card title and make up the bulk of the card's content.</li>
						<li>Some quick example text to build on the card title and make up the bulk of the card's content.</li>
						<li>Some quick example text to build on the card title and make up the bulk of the card's content.</li>
						<li>Some quick example text to build on the card title and make up the bulk of the card's content.</li>
						
					</ul>
				</div>
			</div>
		</div>
	</section>
	</div>