
<div class="container text-center servicespadding">
  <div class="row">
   <div class="col-lg-12 col-md-12 col-sm-12"> 
    <div class="service-heading-block">
      <h2 class="text-center text-primary title">Our amazing Service features</h2>
    </div>             
  </div> 
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="text-center feature-block">
      <span class="fb-icon color-info">
        <i class="fas fa-cloud-upload-alt" aria-hidden="true"></i>
      </span>
      <h4 class="color-info">Cloud Upload</h4>
      <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dicta error.</p>
      <a href="javascript:void(0)" class="btn btn-info btn-custom">Click here</a>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-6">
   <div class="text-center feature-block">
    <span class="fb-icon color-warning">
      <i class="fa fa-desktop" aria-hidden="true"></i>
    </span>
    <h4 class="color-warning">Computer Service</h4>
    <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dicta error.</p>
    <a href="javascript:void(0)" class="btn btn-warning btn-custom">Click here</a>
  </div>
</div>

<div class="col-lg-3 col-md-6 col-sm-6">
  <div class="text-center feature-block">
    <span class="fb-icon color-success">
      <i class="fa fa-envelope" aria-hidden="true"></i>
    </span>
    <h4 class="color-success">Email Service</h4>
    <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dicta error.</p>
    <a href="javascript:void(0)" class="btn btn-success btn-custom">Click here</a>
  </div>
</div>

<div class="col-lg-3 col-md-6 col-sm-6">
  <div class="text-center feature-block">
    <span class="fb-icon color-danger">
      <i class="fa fa-fire" aria-hidden="true"></i>
    </span>
    <h4 class="color-danger">Quality Service</h4>
    <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dicta error.</p>
    <a href="javascript:void(0)" class="btn btn-danger btn-custom">Click here</a>
  </div>
</div>
</div>

<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="text-center feature-block">
      <span class="fb-icon color-danger">
        <i class="fa fa-fire" aria-hidden="true"></i>
      </span>
      <h4 class="color-danger">Quality Service</h4>
      <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dicta error.</p>
      <a href="javascript:void(0)" class="btn btn-danger btn-custom">Click here</a>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="text-center feature-block">
      <span class="fb-icon color-success">
        <i class="fa fa-envelope" aria-hidden="true"></i>
      </span>
      <h4 class="color-success">Email Service</h4>
      <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dicta error.</p>
      <a href="javascript:void(0)" class="btn btn-success btn-custom">Click here</a>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
   <div class="text-center feature-block">
    <span class="fb-icon color-warning">
      <i class="fa fa-desktop" aria-hidden="true"></i>
    </span>
    <h4 class="color-warning">Computer Service</h4>
    <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dicta error.</p>
    <a href="javascript:void(0)" class="btn btn-warning btn-custom">Click here</a>
  </div>
</div>
<div class="col-lg-3 col-md-6 col-sm-6">
  <div class="text-center feature-block">
    <span class="fb-icon color-info">
      <i class="fas fa-cloud-upload-alt" aria-hidden="true"></i>
    </span>
    <h4 class="color-info">Cloud Upload</h4>
    <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dicta error.</p>
    <a href="javascript:void(0)" class="btn btn-info btn-custom">Click here</a>
  </div>
</div>

</div>    
</div>