<!-- post #1 -->
<div class="post" id="post1">
	<div class="caption">
		<div class="author">
			<img src="https://randomuser.me/api/portraits/men/73.jpg" alt="" class="avatar">  
			<div class="name"><a>@shu3aybbadran</a></div><br/>
			<div class="meta"><i class="far fa-calendar-alt"></i> 2 min - <i class="fas fa-globe"></i> puplic</div>
		</div> 
		<div class="text">
			<p>Lorem ipsum dolor sit ametconsectetur adipisicing elit. Iusto modi dolore ducimus magnam fuga quae error consequatur perspiciatis doloribus, deserunt veritatis</p>
		</div>
	</div><!-- / .caption -->
	<div class="category">post category</div>
	<div class="content">
		<img src="https://cdn.stocksnap.io/img-thumbs/960w/VZBJUVPO25.jpg" class="img" alt="">
	</div><!-- / .content -->
</div>

<!-- post #2 -->
<div class="post" id="post2">
	<div class="caption">
		<div class="content">
			<div class="author">
				<img src="https://randomuser.me/api/portraits/men/73.jpg" alt="" class="avatar">  
				<div class="name">@shu3aybbadran</div>
			</div> 
			<div class="text">
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit modi dolore vero consectetur?</p>
			</div>
		</div>
	</div><!-- / .caption -->
	<div class="content">
		<img src="https://cdn.stocksnap.io/img-thumbs/960w/WPOWZBGDTU.jpg" class="img" alt="">
	</div><!-- / .content-->
</div>

<!-- post #3 -->
<div class="post" id="post3">
	<div class="content">
		<div class="author">
			<img src="https://randomuser.me/api/portraits/men/73.jpg" alt="" class="avatar">  
			<div class="name">@shu3aybbadran</div><br/>
			<div class="meta"><i class="fas fa-map-marker-alt"></i> Syria</div>
		</div> 
		<img src="https://cdn.stocksnap.io/img-thumbs/960w/XSTO5645BM.jpg" class="img" alt="">
	</div><!-- / .img -->        
	<div class="caption">
		<div class="text">
			<h2 class="display-4">Post Title</h2>    
			<div class="category">post category</div>

			<p>Lorem ipsum dolor sit ametconsectetur adipisicing elit. Iusto modi dolore ducimus magnam fuga quae error consequatur perspiciatis doloribus, deserunt veritatis, excepturi amet, nihil maxime est illum tempore? Voluptatibus, eum?</p>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit modi dolore vero consectetur?</p>
		</div>
	</div><!-- / .caption -->
</div>

<!-- post #4 -->
<div class="post" id="post4">
	<div class="content">
		<img src="https://cdn.stocksnap.io/img-thumbs/960w/XSTO5645BM.jpg" class="img" alt="">
	</div><!-- / .img -->        
	<div class="category">post category</div>
	<div class="caption">
		<div class="text">
			<h2 class="display-4">Post Title</h2>    
			<p>Lorem ipsum dolor sit ametconsectetur adipisicing elit. Iusto modi dolore ducimus magnam fuga quae error consequatur perspiciatis doloribus, deserunt veritatis, excepturi amet, nihil maxime est illum tempore? Voluptatibus, eum?</p>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit modi dolore vero consectetur?</p>
			<div class="author">
				<img src="https://randomuser.me/api/portraits/men/73.jpg" alt="" class="avatar">  
				<div class="name">@shu3aybbadran</div><br/>
				<div class="meta"><i class="fas fa-map-marker-alt"></i> Syria</div>
			</div> 
		</div>
	</div><!-- / .caption -->
</div>

<!-- post #5 -->
<div class="post" id="post5">
	<div class="caption">
		<div class="author">
			<img src="https://randomuser.me/api/portraits/men/73.jpg" alt="" class="avatar">  
			<div class="name">@shu3aybbadran</div><br/>
			<div class="meta"><i class="far fa-calendar-alt"></i> 2 min - <i class="fas fa-globe"></i> puplic</div>
		</div> 
		<div class="text">
			<p>Lorem ipsum dolor sit ametconsectetur adipisicing elit. Iusto modi dolore ducimus magnam fuga quae error consequatur perspiciatis doloribus, deserunt veritatis</p>
		</div>
	</div><!-- / .caption -->
	<div class="content images">
		<img src="https://cdn.stocksnap.io/img-thumbs/960w/XSTO5645BM.jpg" class="img" alt="">
		<img src="https://cdn.stocksnap.io/img-thumbs/960w/VZBJUVPO25.jpg" class="img" alt="">
		<img src="https://cdn.stocksnap.io/img-thumbs/960w/WPOWZBGDTU.jpg" class="img" alt="">
		<img src="https://cdn.stocksnap.io/img-thumbs/960w/VZBJUVPO25.jpg" class="img" alt="">
	</div><!-- / .content -->
</div>




